@* @inherits Fluxor.Blazor.Web.Components.FluxorComponent *@

@page "/weather"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender:false))

@implements IDisposable
@inject IState<AppState.Weather.WeatherForecastState> WeatherForecastState
@inject IDispatcher dispatcher

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

@if (forecasts is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Models.WeatherForecast[]? forecasts;

    //Hacky fix 1a
    //private int ForecastsInitilized;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("** OnInitializedAsync");
        await Task.CompletedTask;
        if (WeatherForecastState.Value.Forecasts is null)
            dispatcher.Dispatch(new AppState.Weather.WeatherForecastFetched());

        if (WeatherForecastState.Value.Forecasts is not null) forecasts = WeatherForecastState.Value.Forecasts;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        // Hacky fix 1b
        // ForecastsInitilized = WeatherForecastState.Value.Forecasts is not null ? ++ForecastsInitilized : ForecastsInitilized;

        if (firstRender) Console.WriteLine("** OnAfterRender");
        Console.WriteLine("** OnAfterRender");

        if (WeatherForecastState.Value.Forecasts is not null) forecasts = WeatherForecastState.Value.Forecasts;

        // Hacky fix 1c
        // if (WeatherForecastState.Value.Forecasts is not null && ForecastsInitilized == 1)
        // {
        // forecasts = WeatherForecastState.Value.Forecasts;
        // InvokeAsync(StateHasChanged);
        //}
    }

    // Fluxor Plumbing
    protected override void OnInitialized()
    {
        WeatherForecastState.StateChanged += AppStateHasChanged;
    }

    private void AppStateHasChanged(object? sender, EventArgs args)
    {
        Console.WriteLine("** AppStateHasChanged");
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        WeatherForecastState.StateChanged -= AppStateHasChanged;
    }
}